$spacers: (0:0, 1:$space-1, 2:$space-2, 3:$space-3, 4:$space-4);
@each $k, $v in $spacers {
  .mt-#{$k} { margin-top: $v; }
  .mb-#{$k} { margin-bottom: $v; }
  .pt-#{$k} { padding-top: $v; }
  .pb-#{$k} { padding-bottom: $v; }
}
.text-center { text-align: center; }
.hide-sm { display:none; @include respond(md){ display:initial; } }

// Clase temporal (eliminar cuando no se necesite)
.titleprovisional {
  color: var(--color-fg);
  text-align: center;
}